.container {
    height: 600px;
    width: 600px;
    margin-left: 400px;
    margin-top: 50px;
    text-align: center;
    background-color: rgb(70, 110, 140);
    position: relative;
    color: white;
    h1 {
        padding-top: 160px;
        animation: slideDown ease-in-out 2s forwards .6s;
    }
    @keyframes slideDown {
        0% {transform: translateY(-140px);}
        100% {transform: translateY(0px);opacity:1;}
      }

   
    p {
        padding-left: 10px;
        padding-right: 10px;
        animation: slidleft ease-in-out 2s forwards .6s;
    }

    @keyframes slidleft {
        0% {transform:translateX(-300px) }
        100% {transform: translateX(0px);}
    }

    button{
        animation: show-up 10s;
        border: 1px solid white;
        background-color: rgb(70, 110, 140);
        width: 150px;
        height: 50px;
        
    }

    @keyframes show-up {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    }
