#logo {
    margin: 50px 50px 50px 50px;
    background-color: yellow;
}

img {
    vertical-align: middle;
    margin: 50px 50px 50px 50px;
}

a {
    margin: 50px 50px 50px 50px;
    font-size: 40px;
   
}

@media screen and (max-width: 500px){
    #logo{
        background-color: red;
    }
}

